<h1> All bookings </h1>

<ul>
  <%= booking.bag.name %>
  <%= booking.total_price %>
  <%= booking.start_date %>
  <%= booking.end_date %>
  <%= booking.booking_desc %>
  <%= booking.status %>
</ul>

<%= link_to "Go to bags", bags_path %>
