<div>
  <p>
    <strong>All bag attributes:</strong>
    <ul>
      <li><%=bag.name%></li>
      <li><%= bag.description%></li>
      <li><%= bag.price_day%></li>
      <li><%= bag.sku%></li>
      <li><%= bag.features%></li>
    </ul>
  </p>
</div>
