<%= render 'bag', bag: @bag%>

<div>
  <% if @bag.user_id == current_user.id %>
    <%= link_to "Edit this bag", edit_bag_path(@bag) %> |
  <% end %>
    <%= link_to "Back to bags", bags_path %>

  <% if @bag.user_id != current_user.id %>
    <%= link_to "New Booking", new_bag_booking_path(@bag) %>
  <% end %>

  <% if @bag.user_id == current_user.id %>
    <%= link_to "Bookings", bag_bookings_path(@bag) %>
  <% end %>

  <% if @bag.user_id == current_user.id %>
    <%= link_to "Delete",
      bag_path(@bag),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</div>
