
<div>
  <%= render 'bag', bag: @bag%>
    <% if @bag.user_id == current_user.id %>
      <h4 class="btn btn-lg"><%= link_to "Edit this bag" , edit_bag_path(@bag) %>  </h4>
    <% end %>
      <h4 class="btn btn-lg"><%= link_to "Back to bags", bags_path %> </h4>

    <% if @bag.user_id != current_user.id %>
      <h4 class="btn btn-lg "> <%= link_to "New Booking", new_bag_booking_path(@bag) %> </h4>
    <% end %>

    <% if @bag.user_id == current_user.id %>
      <h4 class="btn btn-lg"> <%= link_to "Bookings", bag_bookings_path(@bag) %> </h4>
    <% end %>

    <% if @bag.user_id == current_user.id %>
      <h4 class="btn btn-lg" > <%= link_to "Delete",
        bag_path(@bag),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %> </h4>
    <% end %>
</div>
