<!--primer container-->
<section class="container1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-center p-5">
        <h1 class="m3"><strong>Bags2go!</strong></h1>
        <h4>We have the perfect bag, rent with us!</h4>
        <p class="text-center"> <%= link_to "See our Bags!", bags_path, class: "btn btn-outline-primary btn-lg" %> </p>
        <p class="text-center"><%= link_to "List your Bag!",  new_bag_path, class: "btn btn-outline-success btn-lg" %></p>
      </div>
      <div class="col-6">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://imagenes.elpais.com/resizer/WSLKIlqg0_0RvREWdNuyF35Dx2Y=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/TIEFNHHQSBF2BP3QC7YPH3PIWI.jpg" class="d-block w-100" alt="maleta aeropuerto">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--segundo container-->
<section class="container2">
  <div class="container">
    <div class="row text-align-center text-center">
      <div class="col-4">
        <i class="fa-solid fa-person-walking-luggage "></i>
        <h2><%= link_to "Find your perfect bag for travelling", bags_path%></h2>
      </div>
      <div class="col-4">
        <i class="fa-solid fa-suitcase"></i>
        <h2> <%= link_to "Find a Backpack or suitcase", bags_path %></h2>
      </div>
      <div class="col-4">
        <i class="fa-solid fa-bag-shopping"></i>
        <h2><%= link_to "Make money by renting your bag!", new_bag_path   %></h2>
      </div>
    </div>
  </div>
</section>
<!--tercer container-->
<section class="container3 text-center">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <i class="fa-solid fa-people-carry-box"></i>
        <h2>How it works as a User?</h2>
        <h4><%= link_to "1. Sign up/Login", new_user_registration_path %></h4>
        <h4><%= link_to "2. Find the perfect bag for your trip", bags_path %></h4>
        <h4>3. Book it</h4>
        <h4>4. Pick it up</h4>
        <h4>5. Enjoy your trip</h4>
        <h4>6. Return it</h3>
      </div>
      <div class="col-6">
        <i class="fa-solid fa-business-time"></i>
        <h2>How it works as an Owner?</h2>
        <h4><%= link_to "1. Sign up/Login", new_user_registration_path %></h4>
        <h4><%= link_to "2. List your Bag",  new_bag_path %></h4>
        <h4>3. Wait for a reservation</h4>
        <h4>4. Confirm reservation</h4>
        <h4>5. Get your bag back</h4>
      </div>
    </div>
  </div>
</section>
<!--cuarto container-->
<section>
  <div class="container4">
    <h2 class="text-center p-3"><strong>Here are some bags you might like!</strong></h2>
    <div class="home-card-container">
        <%= render "shared/card" %>
    </div>
  </div>
</div>
</section>
<!--quinto container-->
<section class="container5">
  <div class="container-fluid">
    <%= render "shared/footer" %>
  </div>
</section>
